<!--NAVIGATION MENU-->
<!--<navi-menu></navi-menu>-->

<div class="panel panel-default">
    <div class="panel-body panel-job" id="control-label-background">Post a friendly job =D</div>
</div>
<div class="container">
    <form ng-submit="saveJobs()"
          novalidate="novalidate">
    <div class="form-group">
        
        <!--TEXT INPUT FOR JOB TITLE-->
        <div class="col-md-6">
            <label for="jobTitle" class="control-label">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Job Title</div>
                </div>
            </label>
            <input class="form-control input-lg" 
                   type="text"
                   ng-model="jobTitle"
                   ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,30}$/"
                   id="jobTitle"
                   placeholder="Awkwardly Good Developer"
                   ng-pattern-err-type="jobTitle"
                   required="required"
                   name="jobTitle">
        </div>
        
        <!--TEXT INPUT FOR COMPANY NAME-->
        <div class="col-md-6">
            <label for="companyName" class="control-label">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Company Name</div>
                </div>
            </label>
            <input class="form-control input-lg" 
                   type="text" 
                   ng-model="companyName"
                   ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,30}$/"
                   id="companyName"
                   placeholder="Orange"
                   ng-pattern-err-type="companyName"
                   required="required"><br>
        </div>
       
       <!--CHECKBOX BUTTON THAT PASSES IN JOB CATEGORY WHEN CLICKED-->
<!--
       <div class="col-md-6">
           <label for="jobTypes" class="control-label">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Job Category</div>
                </div>
           </label><br>    
                <div ng-repeat="job in jobCategory">
                    <input type="radio" 
                           ng-value="job.category" 
                           ng-model="$parent.selectedCategory"/>
                    {{job.category}}
                </div>
                <hr/>
        </div>
-->
        
               <!--CHECKBOX BUTTON THAT PASSES IN JOB TYPES WHEN CLICKED-->
<!--
       <div class="col-md-6">
           <label for="jobTypes" class="control-label">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Job Type</div>
                </div>
           </label><br>    
                <div ng-repeat="job in jobTypes">
                    <input type="radio" 
                           ng-value="job.type" 
                           ng-model="$parent.selectedType"/>
                    {{job.type}}
                </div>
                <hr/>
        </div>
-->
        
<div class="col-md-6">
<label for="jobTypes" class="control-label"> 
    <div class="panel panel-default">
        <div class="panel-body panel-job">Job Type</div>
    </div>
</label><br>    
    Full Time:
    <input type="checkbox" ng-model="checkboxModel.fulltime"
           ng-true-value="'Full Time'" ng-false-value="">
   <br/>
    Part Time:
    <input type="checkbox" ng-model="checkboxModel.parttime"
           ng-true-value="'Part Time'" ng-false-value="">
   <br/>
    Intern:
    <input type="checkbox" ng-model="checkboxModel.intern"
           ng-true-value="'Intern'" ng-false-value="">
   <br/>
    Contract:
    <input type="checkbox" ng-model="checkboxModel.contract"
           ng-true-value="'Contract'" ng-false-value="">
   <br/>
    Apprenticeship:
    <input type="checkbox" ng-model="checkboxModel.apprenticeship"
           ng-true-value="'Apprenticeship'" ng-false-value="">
   <br/>
</div>    
<!--
  <tt>Full Time = {{checkboxModel.fulltime}}</tt><br/>
  <tt>Part Time = {{checkboxModel.parttime}}</tt><br/>
  <tt>Intern = {{checkboxModel.intern}}</tt><br/>
  <tt>Contract = {{checkboxModel.contract}}</tt><br/>
  <tt>Apprenticeship = {{checkboxModel.apprenticeship}}</tt><br/> 
-->


<div class="col-md-6">
<label for="jobTypes" class="control-label"> 
    <div class="panel panel-default">
        <div class="panel-body panel-job">Job Category</div>
    </div>
</label><br>    
    Frontend:
    <input type="checkbox" ng-model="checkboxModel.frontend"
           ng-true-value="'Frontend'" ng-false-value="">
   <br/>
    Backend:
    <input type="checkbox" ng-model="checkboxModel.backend"
           ng-true-value="'Backend'" ng-false-value="">
   <br/>
    Fullstack:
    <input type="checkbox" ng-model="checkboxModel.fullstack"
           ng-true-value="'Fullstack'" ng-false-value="">
    <br/>
    Design:
    <input type="checkbox" ng-model="checkboxModel.design"
           ng-true-value="'Design'" ng-false-value="">
   <br/>
    IOS:
    <input type="checkbox" ng-model="checkboxModel.ios"
           ng-true-value="'IOS'" ng-false-value="">
    <br/>
    Android:
    <input type="checkbox" ng-model="checkboxModel.android"
           ng-true-value="'Android'" ng-false-value="">
</div>   
<!--
  <tt>Frontend = {{checkboxModel.frontend}}</tt><br/>
  <tt>Backend = {{checkboxModel.backend}}</tt><br/>
  <tt>Fullstack = {{checkboxModel.fullstack}}</tt><br/>
  <tt>Design = {{checkboxModel.design}}</tt><br/>
  <tt>IOS = {{checkboxModel.ios}}</tt><br/> 
  <tt>Android = {{checkboxModel.android}}</tt><br/> 
-->




        <!--RADIO BUTTON FOR LOCATION WITH TEXT INPUT DROP DOWN TOGGLE FOR LOCATION-->
        <div class="col-md-6">
            <label for="location" class="control-label">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Location</div>
                </div>
            </label> <br>
            
                <input type="radio" ng-click="toggle()"> On Site<br>
                    <p ng-show="myVar">
                      <input type=text 
                             id="city" 
                             ng-model="city" 
                             placeholder="Wichita"> City<br>
                      <input type=text 
                             id="state" 
                             ng-model="state" 
                             placeholder="Kansas"> State<br>
                      <input type=text 
                             id="postalCode" 
                             ng-model="postalCode"
                             ng-pattern="/(\d{5}([\-]\d{4})?)/"
                             placeholder="42424"
                             ng-pattern-err-type="postalCode"> Postal Code<br>
                    </p>
            
                <div ng-repeat="job in jobLocation">
                    <input type="radio" 
                           ng-value="job.location" 
                           ng-model="$parent.selectedLocation"/>
                    {{job.location}}
                </div>
            
        </div>
        
        <!--TEXT INPUT FOR JOB DESCRIPTION-->
        <div class="col-md-6">
            <label for="jobDescription" class="control-label" id="job-description">
                <div class="panel panel-default">
                    <div class="panel-body panel-job">Job Description(or URL)</div>
                </div>
            </label>
            <input class="form-control input-lg" 
                   type="text"
                   ng-model="jobDescription"
                   ng-pattern="/^[a-zA-Z][a-zA-Z0-9-_\.\s]{1,30}$/ || /https?://.+/"
                   id="jobDescription"
                   placeholder="http://orange/jobs/job.html"
                   ng-pattern-err-type="jobDescription"
                   required="required"><br>
        </div>
        
        <!--BUTTON FOR SUBMITTING VALID JOB INFORMATION-->
        <div class ="col-md-6">
            <button class="btn btn-primary" 
                    type="submit">
                Post <span class="glyphicon glyphicon-ok"></span>
            </button>
            
            <!--VIEW VERBOSE JOB LISTINGS-->
            <input class="btn btn-primary" 
                   type="submit" 
                   ui-sref="postings" 
                   value="Manage Job Postings">
            
            <!--JOB LISTINGS LANDING PAGE-->
            <input class="btn btn-primary" 
                   type="submit" 
                   ui-sref="landing" 
                   value="Front Page">  
        </div>
                
        <!--JOB SEARCH-->
        <div class ="col-md-6">
            <form class="form-inline well well-sm">
                <span class="glyphicon glyphicon-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control input-lg"
                           id="job"
                           ng-model="search.$"
                           placeholder="Search job...">
                </div>
            </form>
        </div>
        
        <!--PAGINATE THROUGH JOBS-->
        <div class ="col-md-6">
            <pagination 
              ng-model="currentPage"
              total-items="myData.length"
              items-per-page="numPerPage" 
              boundary-links="true">
            </pagination>
        </div>
        
    <!--TABLE FORMAT FOR JOB LISTINGS BEING RETRIEVED-->
    <div class ="col-md-12">
    <table class="table table-bordered">
        <div class ="col-md-6">
            <thead ng-style="{
                            'background-color': '#20669B' 
                            }">
                <th>Job Title</th>
                <th>Company Name</th>
                <th>Job Description(or URL)</th>
                <th>Job Type</th>
            </thead>
        </div>
        
        <!--RETRIEVES DATA FROM FIREBASE USING NG-REPEAT DIRECTIVE | SEARCH | ORDERING-->
        <tbody ng-repeat="job in myData| startFrom:(currentPage - 1) * numPerPage | limitTo:numPerPage | filter:search | orderBy:'jobTitle'" 
               ng-style="{
                         'background-color':$index == selectedIndex ? '#F15A24' : '',
                         'color':$index == selectedIndex ? 'white' : ''
                         }"
               ng-click="selectJob($index)">
        <tr>
            <td>{{job.jobTitle}}</td>
            <td>{{job.companyName}}</td>
            <td><a href="">{{job.jobDescription}}</a></td>
            <td>{{job.jobType}}</td>
        </tr>
        </tbody>
    </table>
    </div>
    </div>
   </form>
</div>

<!--
-->