<!--NAVIGATION MENU-->
<!--<navi-menu></navi-menu>-->
<div class="panel panel-default">
    <div class="panel-body panel-job" id="control-label-background">Welcome to Bloc's job board</div>
</div>

<div class="container">

    <!-- LOGIN PANEL -->
    <div class="panel" ng-hide="authData">
      <!-- LOGIN BUTTON -->
      <button ng-click="login()">Login With GitHub</button> GH works
      <button ng-click="authenticate('facebook')">Sign in with Facebook</button> FB does not work =[
    </div>
<!--
<button ng-click="authenticate('google')">Sign in with Google</button>
<button ng-click="authenticate('github')">Sign in with GitHub</button>
<button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
<button ng-click="authenticate('instagram')">Sign in with Instagram</button>
<button ng-click="authenticate('twitter')">Sign in with Twitter</button>
<button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
<button ng-click="authenticate('yahoo')">Sign in with Yahoo</button>
<button ng-click="authenticate('live')">Sign in with Windows Live</button>
<button ng-click="authenticate('twitch')">Sign in with Twitch</button>
<button ng-click="authenticate('bitbucket')">Sign in with Bitbucket</button>
-->

    <!-- ACCOUNT PANEL -->
    <div class="panel" ng-show="authData">
      <!-- LOGGED IN USER DATA -->
      <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" />
          <p>
            {{ authData.github.displayName }} <b><a href="{{ authData.github.cachedUserProfile.html_url }}">@{{ authData.github.username }}</a></b>
          </p>

      <!-- LOGOUT BUTTON -->
      <button ng-click="logout()">Logout</button>
      <input class="btn btn-primary" type="submit" ui-sref="job-post" value="Post a Job">
    </div>

    <form>
    <div class="form-group">
        

        <!--JOB SEARCH-->
        <div class ="col-md-6">
            <form class="form-inline well well-sm">
                <span class="glyphicon glyphicon-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control input-lg"
                           id="job"
                           ng-model="search.$"
                           placeholder="Search job...">
                </div>
            </form>
            
            <!--PAGINATE THROUGH JOBS-->
            <pagination 
              ng-model="currentPage"
              total-items="myData.length"
              items-per-page="numPerPage" 
              boundary-links="true">
            </pagination>
        </div>
        
                <div class="panel panel-default">
                    <div class="panel-body panel-job" id="control-label">Click on a job for more details</div>
                </div>

        <!--VERBOSE JOB POSTINGS-->
        <div class="row">
        <div class ="col-md-6">
            <table class="table table-bordered">
                    <thead ng-style="{
                                    'background-color': '#20669B' 
                                    }">
                        <th>Job Title</th>
                        <th>Company Name</th>
                    </thead>

                    <!--RETRIEVES DATA FROM FIREBASE USING NG-REPEAT DIRECTIVE-->  
                    <tbody>
                    <tr ng-repeat="job in myData| startFrom:(currentPage - 1) * numPerPage | limitTo:numPerPage | filter:search | orderBy:'jobTitle'" 
                       ng-style="{
                                 'background-color':$index == selectedIndex ? '#F15A24' : '',
                                 'color':$index == selectedIndex ? 'white' : ''
                                 }"
                       ng-click="selectJob(job, $index)">
                        <td>{{job.jobTitle}}</td>
                        <td>{{job.companyName}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="panel-jobs"> Job Details</div>
                <div class="panel-body">
                    <dl>
                        <dt>Job Title</dt>
                        <dd>{{selectedJob.jobTitle}}</dd>
                        <dt>Job Description(or URL)</dt>
                        <dd>{{selectedJob.jobDescription}}</dd>
<!--                        http://stackoverflow.com/questions/18095727/limit-the-length-of-a-string-with-angularjs-->
                        <dt>Company Name</dt>
                        <dd>{{selectedJob.companyName}}</dd>
                        <dt>Job Type</dt>
                        <dd>{{selectedJob.jobType}}</dd>
                        <dt>Location</dt>
                        <dd>{{selectedJob.jobLocation}}</dd>
                        <dt>City</dt>
                        <dd>{{selectedJob.city}}</dd>
                        <dt>State</dt>
                        <dd>{{selectedJob.state}}</dd>
                        <dt>Postal</dt>
                        <dd>{{selectedJob.postalCode}}</dd>
                    </dl>
                </div>
            </div>
        </div>
</div>
<div ui-view></div>