<!--NAVIGATION MENU-->
<navi-menu></navi-menu>

<div class="container">
    <form>
    <div class="form-group">
        
        <!--BACK BUTTON FOR JOB-POST TEMPLATE PAGE-->  
        <div class ="col-md-12">
            <input class="btn btn-primary" 
               type="submit" 
               ui-sref="job-post" 
               value="Back to Post">
        </div>
        
        <!--JOB SEARCH-->
        <div class ="col-md-6">
            <form class="form-inline well well-sm">
                <span class="glyphicon glyphicon-search"></span>

                <div class="form-group">
                    <input type="text"
                           class="form-control input-lg"
                           id="job"
                           ng-model="search.$"
                           placeholder="Search job...">
                </div>
            </form>
            
            <!--PAGINATE THROUGH JOBS-->
            <pagination 
              ng-model="currentPage"
              total-items="myData.length"
              items-per-page="numPerPage" 
              boundary-links="true">
            </pagination>
        </div>
        
                <div class="panel panel-default">
                    <div class="panel-body panel-job" id="control-label">Click on a job for more details</div>
                </div>

        <!--VERBOSE JOB POSTINGS-->
        <div class="row">
        <div class ="col-md-8">
            <table class="table table-bordered">
                    <thead ng-style="{
                                    'background-color': '#20669B' 
                                    }">
                        <th>Job Title</th>
                        <th>Company Name</th>
                        <th>Remove Job</th>
                    </thead>

                    <!--RETRIEVES DATA FROM FIREBASE USING NG-REPEAT DIRECTIVE-->  
                    <tbody>
                    <tr ng-repeat="job in myData| startFrom:(currentPage - 1) * numPerPage | limitTo:numPerPage | filter:search | orderBy:'jobTitle'" 
                       ng-style="{
                                 'background-color':$index == selectedIndex ? '#F15A24' : '',
                                 'color':$index == selectedIndex ? 'white' : ''
                                 }"
                       ng-click="selectJob(job, $index)">
                        <td>{{job.jobTitle}}</td>
                        <td>{{job.companyName}}</td>
                        <td>
                          <!--BUTTON TO REMOVE DATA FROM PAGE AND FIREBASE DB-->
                          <a class="btn btn-danger btn-remove"
                             ng-click="removeJob($index, job)">
                            <i class="glyphicon glyphicon-trash"></i> Remove
                          </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
            
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading" id="panel-jobs"> Job Details</div>
                <div class="panel-body">
                    <dl>
                        <dt>Job Title</dt>
                        <dd>{{selectedJob.jobTitle}}</dd>
                        <dt>Job Description(or URL)</dt>
                        <dd>{{selectedJob.jobDescription}}</dd>
                        <dt>Company Name</dt>
                        <dd>{{selectedJob.companyName}}</dd>
                        <dt>Job Type</dt>
                        <dd>{{selectedJob.jobType}}</dd>
                        <dt>Street</dt>
                        <dd>{{selectedJob.streetAddress}}</dd>
                        <dt>City</dt>
                        <dd>{{selectedJob.city}}</dd>
                        <dt>State</dt>
                        <dd>{{selectedJob.state}}</dd>
                        <dt>Postal</dt>
                        <dd>{{selectedJob.postalCode}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
        
    </div>
    </form>
</div>