<!--NAVIGATION MENU-->
<navi-menu></navi-menu>
<div class="container">
    
<!--BACK BUTTON FOR JOB-POST TEMPLATE PAGE-->      
<h2>Job Postings Here</h2>
<input class="btn btn-primary" 
       type="submit" 
       ui-sref="job-post" 
       value="Back to Post">

    <!--VERBOSE JOB POSTINGS-->
    <table class="table table-bordered">
    
        <thead>
            <th>Job Title</th>
            <th>Company Name</th>
            <th>Job Description(or URL)</th>
            <th>Job Type</th>
<!--
            <th>Job Type</th>
            <th>Job Type</th>
            <th>Job Type</th>
            <th>Job Type</th>
-->
            <th>Street</th>
            <th>City</th>
            <th>State</th>
            <th>Postal</th>
            <th>Remove Job</th>
        </thead>
        
        <!--RETRIEVES DATA FROM FIREBASE USING NG-REPEAT DIRECTIVE-->  
        <tbody ng-repeat="job in jobs">
        
        <tr>
            <td>{{job.jobTitle}}</td>
            <td>{{job.companyName}}</td>
            <td>{{job.jobDescription}}</td>
            <td>{{job.fullTime}}</td>
<!--
            <td>{{job.partTime}}</td>
            <td>{{job.contract}}</td>
            
            <td>{{job.freelance}}</td>
            <td>{{job.internship}}</td>
            
-->
            <td>{{job.streetAddress}}</td>
            <td>{{job.city}}</td>
            <td>{{job.state}}</td>
            <td>{{job.postalCode}}</td>
        
            <td>
              <!--BUTTON TO REMOVE DATA FROM PAGE AND FIREBASE DB-->  
              <a class="btn btn-danger"
                 ng-click="removeJob($index, job)">
                <i class="glyphicon glyphicon-remove"></i> Remove
              </a>
            </td>
        </tr>
    
    </tbody>
        
    </table>
<!--
    <div class="col-md-6">

        TODO LABEL
        <span>{{job.jobTitle}}</span>
    </div>
-->
    
    </div>