wrapper {
    max-width: 1040px;
    width: 90%;
    border: 2px   #000
}
.welcome {
    text-align: center;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-indent: 0px;
    line-height: 1.43em (34.28px);
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
}
.container-fluid {
    background-color: #333333;
}
.navbar-brand {
    color: #f2f2f2;
    font-size: 20px;
}
.navbar-front {
    color: #f2f2f2;
    font-size: 20px;
}
.dropdown-toggle, .dropdown-menu, .navbar-mess, .navbar-sched, .navbar-acc, .navbar-log {
    color: #f2f2f2;
    font-size: 20px;
}
table thead {
    color: #f2f2f2;
}
label {
    color:white;
}
.panel-job{
    background-color: #20669B;
}
#control-label-background{
    background-color: #4d4d4d;
    text-align:center;
    clear:both;
    color: white;
    font-size: 30px;
}
body, .btn-primary {
    background-color: #f2f2f2;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-decoration: none;
    text-indent: 0px;
    line-height: 1.43em (34.28px);
    vertical-align: baseline;
    letter-spacing: normal;
    word-spacing: 0px;
    font-size: 18px;
}
.btn-primary {
    background-color: #F15A24;
    border-color: #D2E1EF;
}
.btn-remove {
    background-color: #20669B;
}
.btn-danger {
    border-color: #D6D5D5;
}
.post {
    display:inline;
}
td a {
  color:inherit;
  text-decoration: none;
}
img {
  margin-bottom: 10px;
  height: 150px;
}
.help-block {
    display: inline;
}
#control-label {
    text-align:center;
    clear:both;
    color: white;
    font-size: 30px;
}
.control-label {
    color: white;
}
#panel-jobs {
    background-color: #20669B;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 300;
    text-align:center;
    font-weight: bold;
}
.panel {
    background-color: #f2f2f2;
}
.panel-default {
    border-color: #f2f2f2;
}
.panel-default dt{
    color:white;
    background-color: #20669B;
    text-align: center;
}
#job-description{
    margin-top: 20px;
}
/*background: #f2f2f2
#333333
#20669B bluish
orange #F15A24

#2DA6D1
*/